body {
  background-color: lightblue;
  font-weight: bold;
}

#petCards {
  background-color: turquoise;
  font-weight: bold;
margin: 10px;
border-bottom: 10px;
border-color: pink;
display: flex;
flex: wrap;
align-items: center;

}



.button{
  flex-direction: column;
  background-color: greenyellow;
  
  width: 50px;
  height: 30px;
  text-align: center;
  margin: 5px;
}
#app {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 margin: 5px;

}

img {
  width: 200px;
  height: 200px;
  align-self: center;
  margin: 2px;
}






form {
  width: 400px;
margin: 20px;
  
}

.dropdown {
  background-color: greenyellow; 
  width: 100%;
}
