body {
  background-color: green;
  border: 20px;
  border-color: red;
}

.card {
  background-color: orange;
  font-weight: bold;
margin: 20px;
display: flex;
flex: wrap;

}

#dino {
  color: white;
  background-color: red;
}
#dog {
  color: white;
  background-color: blue;
} 
#cat {
  color: white;
  background-color: brown;
} 
#all {
  color: white;
  background-color: black;
}
#app {
 display: flex;
 flex-wrap: wrap;
}

img {
  width: 200px;
  height: 200px;
  align-self: center;
  margin: 2px
}

#buttons {
  text-align: center;
}
