body {
  background-color: green;
};

div.card {
  background-color: orange;
}

#dino {
  color: white;
  background-color: red;
}
#dog {
  color: white;
  background-color: blue;
} 
#cat {
  color: white;
  background-color: brown;
} 
#all {
  color: white;
  background-color: black;
}
