body {
  background-color: lightblue;
  
}

#petCards {
  background-color: turquoise;
  font-weight: bold;
margin: 10px;
border-left: 20px;
border-top: 20px;
border-color: pink;
display: flex;
flex: wrap;
align-items: center;
}

.button{
  background-color: greenyellow;
}
#app {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 margin: 200px;

}

img {
  width: 200px;
  height: 200px;
  align-self: center;
  margin: 2px;
}

#buttons {
text-align: center;
}


.button {
  width: 100px;
  height: 50px;
  align-self: center;
}

form {
  width: 400px;
margin: 20px;
  
}
